<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Ejercicios</h4>
        </div>
        <div class="panel-body">
            <p class="text-justify">
                A continuacion se presentan varios ejericios en los distintos temas que cubre el curso de
                Programación I:
            </p>
            <br>
            <h4><b>Diagramas de Flujo y Algoritmos</b></h4>
            >>> POR AÑADIR <<<
            <hr>

            <br>
            <h4><b>Programando en C</b></h4>
            <p class="text-center">
                Realice un programa que permita resolver las siguiente ecuaciones (1 programa por cada ecuación):
            </p>
            <p class="text-center">
                <img src="app/images/problems-image-01.png">
            </p>
            <hr>

            <br>
            <h4><b>Sentencias Condicionales</b></h4>
            <p class="text-justify">
                <b>Ejercicio #1: </b> Realice un programa que permita calcular el <b>costo total</b> de la compra
                de <b>5 productos</b>, si el <b>costo total</b> supera los <b>4000 bs</b> entonces realice un descuento
                del <b>21,5%</b> y muestre el total a pagar.
            </p>
            <p class="text-justify">
                <b>Ejercicio #2:</b> Realice un programa que calcule el promedio de notas de un alumno, el programa
                debera permitir ingresar las 4 notas del alumno, luego de eso tome en cuenta el promedio y dependiendo
                del resultado muestre alguno de los siguientes mensajes
            </p>
            <ul>
                <li>Si el promedio fue menor a 10, mostrar <b>"Debes Estudiar Mas"</b></li>
                <li>Si el promedio fue mayor o igual a 10 y menor a 15, mostrar <b>"Vas bien, puedes mejorar"</b></li>
                <li>Si el promedio fue mayor o igual a 15 mostrar, <b>"Excelente"</b></li>
            </ul>
            <p class="text-justify">
                <b>Ejercicio #3:</b> Realice un programa que permita calcular el valor de <b>"x"</b> dada la siguiente
                ecuación, sin embargo el programa debe contener <b>validaciones</b>, es decir, debe tomarse en cuenta
                si la solución de la ecuacion puede realizarse con los valores que el usuario ingrese.
            <p class="text-center">
                <img src="app/images/problems-image-02.png">
            </p>
            </p>
            <p class="text-justify">
                <b>Ejercicio #4:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #5:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #6:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #7:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #8:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #9:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #10:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #11:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #12:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #13:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #14:</b>
            </p>
            <p class="text-justify">
                <b>Ejercicio #15:</b>
            </p>
            <hr>

            <br>
            <h4><b>Estructuras de Repetición</b></h4>
            <hr>

            <br>
            <h4><b>Arreglos</b></h4>
            <hr>

            <br>
            <h4><b>Sentencia de Selección</b></h4>
            <hr>

            <br>
            <h4><b>Funciones</b></h4>
            <hr>
        </div>
    </div>
</section>