<section>
    <h1>Programación I</h1> <hr>
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <ul class="list-group text-center">
                <li class="list-group-item active"><span class="h4">Contenido</span></li>
                <li class="list-group-item"><a ui-sref="home.progI.introduction" class="h5">Introducción a la Programación</a></li>
                <li class="list-group-item"><a ui-sref="#" class="h5">Diagramas de Flujo y Algoritmos</a></li>
                <li class="list-group-item"><a ui-sref="#" class="h5">Programando en C</a></li>
                <li class="list-group-item"><a ui-sref="#" class="h5">Sentencias Condicionales</a></li>
                <li class="list-group-item"><a ui-sref="#" class="h5">Estructuras de Repetición</a></li>
                <li class="list-group-item"><a ui-sref="#" class="h5">Arreglos</a></li>
                <li class="list-group-item"><a ui-sref="#" class="h5">Sentencia de Selección</a></li>
                <li class="list-group-item"><a ui-sref="#" class="h5">Funciones</a></li>
                <li class="list-group-item"><a ui-sref="home.progI.problems" class="h5">Ejercicios</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-xs-12">
            <div ui-view></div>
        </div>
    </div>
</section>