<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Introducción a la Programación</h4>
        </div>
        <div class="panel-body">
            <p class="text-justify">
                Antes de empezar a programar primero debemos tener claro algunos conceptos previos, entre dichos terminos
                debemos conocer que es un programa, como funciona el mismo, cuales son los pasos para desarrollar uno,
                ademas de eso tambien debemos conocer tecnicas que nos permitan desarrollar nuestra capacidad de resolver
                problemas de forma logica.
                <br><br>
                La idea principal del curso de Programación I no es solo que usted aprenda a programar, sino tambien
                que al momento que se le presente un problema, sepa analizar la situación y tome las mejores decisiones
                para resolver el mismo, gracias a las practicas de la programación un ingeniero puede aplicar sus
                conociemientos para la resolución logica de problemas.
            </p>
        </div>
    </div>
</section>